.split-pane > .split-pane-divider {
    -fx-padding: 0 1px 0 1px;
}

.tree-cell {
    -fx-font-size: 13px ;
    -fx-padding: 1px 0px 1px 0px ;
}

.tree-cell:selected {
    -fx-font-weight: bold ;
}

.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: lightgrey;
}
.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: lightgrey;
}
