.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-inner-border: transparent;
    -fx-body-color: transparent;
    -fx-cell-focus-inner-border: transparent;
    -fx-table-cell-border-color: transparent;
}

.split-pane {
    -fx-padding: 0px;
    -fx-border-width: 0px;
    -fx-background-color: transparent;
    /*-fx-border-color: gainsboro;*/
}

.files-view {
    -fx-padding: 0px;
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: gainsboro;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 1px 0 0;
    -fx-background-color: gainsboro;
}

.tree-view {
    -fx-focus-color: transparent;
}

.tree-cell {
    -fx-font-size: 13px ;
    -fx-padding: 2px 0px 2px 0px;
    -fx-border-style: none;
    -fx-background-color: white;
}

.tree-cell:selected {
    /*-fx-font-weight: bold ;*/
    -fx-background-color: rgba(175, 238, 238, 0.4);
    -fx-text-background-color: black;
}

.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: darkgrey;
}
.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: darkgrey;
}

/*.column-header-background {*/
/*    -fx-background-color: white;*/
/*}*/

.table-view {
    -fx-focus-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header {
    -fx-background-color: whitesmoke;
    -fx-text-background-color: black;
    -fx-font-size: 14px;
    -fx-border-width: 0 3 0 0;
    -fx-border-color: white;
}

.table-view .filler {
    -fx-background-color: whitesmoke;
}

.table-view .table-row-cell {
    -fx-cell-size: 24px;
    -fx-padding: 0px;
    -fx-text-background-color: black;
}

.table-view .table-cell {
    -fx-padding: 0px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-text-background-color: black;
}

.table-row-cell:odd {
    -fx-background-color: transparent;
}

.table-row-cell:even {
    -fx-background-color: transparent;
}

.table-row-cell:odd:selected {
    -fx-background-color: rgba(175, 238, 238, 0.4);
    /*-fx-text-background-color: black;*/
}

.table-row-cell:even:selected {
    -fx-background-color: rgba(175, 238, 238, 0.4);
    /*-fx-text-background-color: black;*/
}

.table-row-cell:focused:odd:selected {
    -fx-background-color: rgba(175, 238, 238, 0.4);
    /*-fx-text-background-color: black;*/
}

.table-row-cell:focused:even:selected {
    -fx-background-color: rgba(175, 238, 238, 0.4);
    /*-fx-text-background-color: black;*/
}

.label-at-tab {
    -fx-background-color: white;
}

.label-at-tab:selected {
    -fx-background-color: rgba(175, 238, 238, 0.4);
}

.label-at-tab:replace-candidate {
    -fx-background-color: lightcyan;
}

.label-at-tab:moved {
    -fx-background-color: gainsboro;
}

.add-tab-button {
    -fx-background-color: white;
}

.icon {
    -fx-diarsid-size: 15px;
}

.frame-selection {
    -fx-fill: rgba(175, 238, 238, 0.4);
    -fx-stroke: darkgrey;
    -fx-stroke-width: 1;
}

.breadcrumbs-bar {
    -fx-padding: 4px;
}

.breadcrumbs-bar .separator {
    -fx-padding: 0 4px 0 0;
}

.breadcrumbs-bar .element {
    -fx-padding: 0 4px 0 0;
    -fx-spacing: 2px;
    -fx-background-color: transparent;
    -fx-background-radius: 6px;
}

.breadcrumbs-bar .element:hover {
    -fx-background-color: rgba(175, 238, 238, 0.4);
}

